<h2 mat-dialog-title class="text-ellipsis">{{ dialogTitle() }}</h2>

<mat-dialog-content>
    <form #form="ngForm">
        @if (mode() !== 'view') {
            <mat-form-field class="full-width">
                <mat-label>Title</mat-label>
                <input
                        matInput
                        name="title"
                        [(ngModel)]="title"
                        #titleModel="ngModel"
                        [readonly]="mode() === 'view'"
                        required/>
                @if (titleModel.invalid && (titleModel.dirty || titleModel.touched)) {
                    <mat-error>
                        Title is required
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Description</mat-label>
                <textarea
                        matInput
                        name="description"
                        [(ngModel)]="description"
                        [readonly]="mode() === 'view'">
            </textarea>
            </mat-form-field>
        } @else {
            <div>
                <h2>{{ title() }}</h2>
                <mat-divider></mat-divider>
                <p>{{ description() }}</p>
            </div>
        }
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">

    @if (mode() !== 'view') {
        <button mat-button (click)="onCancel()">Cancel
            <mat-icon>cancel</mat-icon>
        </button>
    }

    @if (mode() === 'create') {
        <button matButton="outlined" (click)="generateNew()">I'm Feeling Lucky
            <mat-icon>casino</mat-icon>
        </button>
        <button matButton="filled" [disabled]="!form.valid" (click)="onCreate()">Create
            <mat-icon>add</mat-icon>
        </button>
    }

    @if (mode() === 'view') {
        <button mat-button (click)="switchToEdit()">Edit
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-button class="danger" matButton="filled" (click)="onDelete()">Delete
            <mat-icon>delete</mat-icon>
        </button>
    }

    @if (mode() === 'edit') {
        <button matButton="filled" [disabled]="!canSave(form)" (click)="onSave()">Save
            <mat-icon>save</mat-icon>
        </button>
    }

</mat-dialog-actions>
