<!-- Main Toolbar -->
<mat-toolbar color="accent" class="app-toolbar">
    <span>Todo App</span>&nbsp;&nbsp;&nbsp;
    @if (totalItems() > 0) {
        <mat-chip>
            @if (pendingItems() > 0) {
                <b>{{ pendingItems() }}</b> | Total {{ totalItems() }}
            } @else {
                Total {{ totalItems() }}
            }
        </mat-chip>
    }

    <div class="toolbar-spacer"></div>
    <button mat-icon-button (click)="toggleTheme()"
            [attr.aria-label]="'Current theme: ' + themeService.themeMode()"
            matTooltip="Current theme: {{ themeService.themeMode() }}">
        <mat-icon> {{
                themeService.themeMode() === 'light' ? 'light_mode' :
                    themeService.themeMode() === 'dark' ? 'dark_mode' : 'brightness_medium'
            }}
        </mat-icon>
    </button>
</mat-toolbar>

<!-- Main Content -->
<div class="app-container">
    <div class="todo-list-wrapper">
        @if (todos().length > 0) {
            <div class="todo-list-container">
                @for (todo of todos(); track todo) {
                    <app-todo-item
                            [todo]="signal(todo)"
                            (update)="onUpdateTodo($event)"
                            (delete)="onDeleteTodo($event)"
                            (view)="openTodoDialog($event.isEditable ? 'edit' : 'view', $event.todo)">
                    </app-todo-item>
                }
            </div>
        }
        <!-- Empty State -->
        @if (todos().length === 0) {
            <div class="empty-state">
                <mat-card class="empty-card">
                    <mat-card-content class="empty-content">
                        <mat-icon class="empty-icon">task_alt</mat-icon>
                        <h2>There is nothing here...</h2>
                        <p>You can create a new task by clicking the + button</p>
                    </mat-card-content>
                </mat-card>
            </div>
        }
    </div>
</div>

<!-- Floating Action Button -->
<button matTooltip="New Item" matTooltipPosition="above" mat-fab color="primary" class="fab"
        (click)="openTodoDialog('create')">
    <mat-icon>add</mat-icon>
</button>
